/**
 * Menu Simplex
 *
 * @author Takuto Yanagida
 * @version 2024-02-15
 */

.menu-simplex {
	--bar-item-width  : unset;
	--bar-item-height : 3rem;
	--bar-item-padding: 0.25rem 1rem;

	--bar-item-width-more: 2.75rem;

	--bar-mark-color: #000;
	--bar-mark-path : polygon(0% 20%, 100% 20%, 50% 95%);
	--bar-mark-width: 1px;

	--panel-offset  : 2px;
	--panel-bg-color: #fff;
	--panel-shadow  : 0 4px 8px 0 #0004;

	--panel-item-width  : unset;
	--panel-item-height : 3rem;
	--panel-item-padding: 0.25rem 1rem;

	--menu-max-width : 24rem;
	--menu-sub-indent: 1rem;

	--is-closed-auto     : 'true';   // 'true' or 'false'. Default is 'true'.
	--is-background-fixed: 'false';  // 'true' or 'false'. Default is 'false'.
	--is-reversed        : 'false';  // 'true' or 'false'. Default is 'false'.
	--more-position      : 'end';    // 'start' or 'end'. Default is 'end'.
	--collapsed          : 'auto';   // 'auto', 'always' or 'never'. Default is 'auto'.


	// -------------------------------------------------------------------------


	position  : relative;
	box-sizing: border-box;

	max-width: var(--max-width, unset);

	:where(*, *::before, *::after) {
		box-sizing: inherit;
		margin    : 0;
		padding   : 0;
	}

	:where(li, li > :where(a, button)) {
		transition-duration: 0.2s;
		transition-property: color, background-color;

		&::before,
		&::after {
			transition: all 0.2s;
		}
	}

	:where(li > *) {
		user-select: none;
	}

	:where(a) {
		text-decoration: none;
	}

	:where(.current > a) {
		pointer-events: none;
	}

	:where(button) {
		appearance   : none;
		padding      : 0;
		background   : none;
		border       : none;
		border-radius: 0;
		font         : inherit;
		color        : inherit;
	}

	:where(ul) {
		list-style-type: none;
	}

	:focus-visible {
		position: relative;
		z-index : 1;
	}


	// -------------------------------------------------------------------------


	overflow  : visible;
	transition: opacity 0.15s;

	&:not(.ready) {
		overflow-x: hidden;
		opacity   : 0;

		> ul {
			max-height: var(--bar-item-height);
		}
	}


	// -------------------------------------------------------------------------


	:where(.menu-bar) {
		max-height: var(--bar-item-height);

		display  : inline-flex;
		flex-wrap: nowrap;
	}

	:where(.menu-bar > li) {
		position: relative;
	}

	:where(.menu-bar > li > :is(a, button)) {
		display        : flex;
		align-items    : center;
		justify-content: center;

		width     : 100%;
		min-width : var(--bar-item-width);
		min-height: var(--bar-item-height);
		padding   : var(--bar-item-padding);

		white-space: nowrap;
	}

	:where(.panel.in-bar) {
		position          : absolute;
		inset-inline-start: 0;
		inset-block-start : calc(100% + var(--panel-offset));
		z-index           : 1000;

		background-color: var(--panel-bg-color);
		box-shadow      : var(--panel-shadow);

		opacity   : 0;
		transition: opacity 0.15s 0.05s;

		&:not(.active) {
			display: none;
		}

		&.opened {
			opacity   : 1;
			transition: opacity 0.2s;
		}
	}


	// -------------------------------------------------------------------------


	:where(.menu-popup, .menu-more) {
		display        : flex;
		justify-content: center;
		flex-direction : column;

		width    : max-content;
		max-width: var(--menu-max-width);

		:where(li > :is(a, button)) {
			display        : flex;
			align-items    : center;
			justify-content: flex-start;

			width     : 100%;
			min-width : var(--panel-item-width);
			min-height: var(--panel-item-height);
			padding   : var(--panel-item-padding);

			:where(div, span) {
				display   : inline-block;
				text-align: left;
			}
		}

		:where(li ul) {
			margin-inline-start: var(--menu-sub-indent);
		}
	}

	:where(.menu-more .menu-popup) {
		width: auto;
	}


	// -------------------------------------------------------------------------


	:where(.panel.in-more) {
		opacity   : 0;
		transition: opacity 0.15s 0.05s;

		&:not(.active) {
			display: none;
		}

		&.opened {
			opacity   : 1;
			transition: opacity 0.2s;
		}
	}
}


// -----------------------------------------------------------------------------


.menu-simplex.with-popup-hint {
	:where(.menu-bar > li > button) {
		padding-inline-end: 2rem;

		position: relative;
		&::after {
			content : '';
			position: absolute;
			width   : 0.5rem;
			height  : 0.5rem;

			inset    : 50% 1rem auto auto;
			translate: 50% -50%;

			clip-path : var(--bar-mark-path);
			box-shadow: 0 0 0 1rem var(--bar-mark-color) inset;
		}

		&:where(.opened > *) {
			&::after {
				transform: scaleY(-1);
			}
		}

		&:where(.more > *) {
			padding  : 0;
			min-width: var(--bar-item-width-more);

			&::after {
				inset    : 50% auto auto 50%;
				translate: -50% -50%;
			}
		}
	}
}

.menu-simplex.with-more-hint {
	:where(.menu-bar > li > button) {
		&:where(.more > *) {
			padding  : 0;
			min-width: var(--bar-item-width-more);

			&,
			&::after,
			&::before {
				background: {
					size    : 1rem var(--bar-mark-width);
					image   : linear-gradient(to top, var(--bar-mark-color), var(--bar-mark-color));
					repeat  : no-repeat;
					position: center center;
				}
			}

			position: relative;
			&::after,
			&::before {
				content : '';
				position: absolute;
				width   : 100%;
				height  : 100%;
				inset   : 0;

				clip-path : none;
				box-shadow: none;
			}
			&::before {
				translate: 0 -4px;
			}
			&::after {
				translate: 0 4px;
			}
		}

		&:where(.more.opened > *) {
			background-image: none;

			&::before {
				rotate   : -45deg;
				translate: 0 0;
			}
			&::after {
				rotate   : 45deg;
				translate: 0 0;
			}
		}
	}
}

.menu-simplex.with-popup-hint {
	:where(.menu-popup, .menu-more) {
		:where(li > button) {
			padding-inline-end: 2rem;

			position: relative;
			&::after {
				content : '';
				position: absolute;
				width   : 0.5rem;
				height  : 0.5rem;

				inset    : 50% 1rem auto auto;
				translate: 50% -50%;

				clip-path : var(--bar-mark-path);
				box-shadow: 0 0 0 1rem var(--bar-mark-color) inset;
			}

			&:where(.opened > *) {
				&::after {
					transform: scaleY(-1);
				}
			}
		}
	}
}
